:root {
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --dark-night: rgb(0, 68, 80);
  --light-night: rgb(0, 96, 114);
  --minigrisrosa: rgb(242, 136, 168);
  --dark-pink: rgb(228, 82, 119);
  --darker-pink: rgb(189, 67, 97);
  --hajkbanansgul: rgb(255, 233, 33);
  --naranjas: rgb(253, 194, 39);
  --adventuragrön: rgb(9, 176, 174);
  --morning-mist: rgb(227, 237, 228);
  --morning-shade: rgb(161, 196, 186);
  --input-inactive-bg-color: #f1f0f0;
  --input-active-bg-color: #f1f0f0;
  --input-active-border-bottom: var(--light-night);
  --input-inactive-border-bottom: #e6e3e3;
  --background: rgb(232, 232, 232);
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}

nav {
  border-bottom: solid 2px;
  border-color: #e8e8e8;
  background-color: rgba(232, 232, 232, 0.3);
}

body {
  font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  position: relative;
  max-width: 800px;
  min-width: 300px;
  margin: auto;
  background-color: var(--background);
}

h1 {
  font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 2rem;
  margin: 1rem;
  font-weight: 900;
  text-transform: uppercase;
  color: white;
  text-shadow: 0px 0.2rem 0px rgba(0, 0, 0, 0.2);
}

h2 {
  font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1.5rem;
  color: white;
  text-shadow: 0px 0.2rem 0px rgba(0, 0, 0, 0.2);
  margin: 0.5rem 0.5rem 0.5rem 0;
  font-weight: 900;
  text-transform: uppercase;
}

h3 {
  font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  color: black;
  text-shadow: 0px 0.1rem 0px rgba(0, 0, 0, 0.1);
  margin: 0.5rem 0.5rem 0.5rem 0;
  font-weight: 900;
  text-transform: uppercase;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

hr {
  margin-top: 0;
  margin-bottom: 0.5rem;
  border: 0;
  border-top: 1px solid #acacac;
}

fieldset {
  border: 0;
  padding: 0;
  margin: 0;
  display: block;
}

label {
  display: inline-block;
  margin: 0.25rem;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 800;
  text-align: left;
  width: 100%;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  color: black;
  font-weight: 900;
  text-transform: uppercase;
}

select {
  background-color: var(--input-inactive-bg-color);
  border-bottom-color: var(--input-inactive-border-bottom);
  transition: border-bottom-color 0.2s;
  border-width: 0 0 3px;
  border-radius: 0.3rem;
  height: 2.5rem;
  font-weight: 400;
  line-height: 1.25;
  cursor: text;
  display: block;
  font-size: 16px;
  font-family: Roboto, "Helvetica Neue", Helvetica, sans-serif;
  padding: 5px 12px 5px 12px;
}

select:focus {
  border-bottom-color: var(--input-inactive-border-bottom);
  background-color: var(--input-active-bg-color);
  border-bottom-color: var(--input-active-border-bottom);
  outline: 0;
}

option:disabled {
  color: #fff;
}

input {
  background-color: var(--input-inactive-bg-color);
  border-bottom-color: var(--input-inactive-border-bottom);
  transition: border-bottom-color 0.2s;
  border-width: 0 0 3px;
  border-radius: 0.3rem;
}

input[type=text] {
  height: 2.5rem;
  font-weight: 400;
  line-height: 1.25;
  cursor: text;
  display: block;
  font-size: 16px;
  font-family: Roboto, "Helvetica Neue", Helvetica, sans-serif;
  padding: 5px 12px 5px 12px;
}

input[type=text]:focus {
  background-color: var(--input-active-bg-color);
  border-bottom-color: var(--input-active-border-bottom);
  outline: 0;
}

input[type=number] {
  height: 2.5rem;
  font-weight: 400;
  line-height: 1.25;
  cursor: text;
  display: inline-block;
  font-family: Roboto, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 16px;
  padding: 5px 12px 5px 12px;
}

input[type=number]:focus {
  background-color: var(--input-active-bg-color);
  border-bottom-color: var(--input-active-border-bottom);
  outline: 0;
}

textarea[type=text] {
  background-color: var(--input-inactive-bg-color);
  border-bottom-color: var(--input-inactive-border-bottom);
  width: 100%;
  max-width: 523px;
  border-width: 0 0 3px;
  font-weight: 400;
  line-height: 1.25;
  cursor: text;
  font-family: Roboto, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 16px;
  padding: 5px 12px 5px 12px;
  border-radius: 0.3rem;
}

textarea[type=text]:focus {
  background-color: var(--input-active-bg-color);
  border-bottom-color: var(--input-active-border-bottom);
  outline: 0;
}

.card {
  position: relative;
  align-items: center;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-clip: border-box;
  box-shadow: 0;
}

.card-block {
  padding: 1rem 1.25rem 1.5rem;
  background-color: white;
  border-radius: 0 0 0.3rem 0.3rem;
  width: 100%;
}

.card-header {
  background-color: var(--light-night);
  padding: 0.5rem 1.25rem;
  margin-top: 1rem;
  margin-bottom: 0;
  width: 100%;
  border-radius: 0.2rem 0.2rem 0 0;
  border-bottom: solid 4px rgba(0, 0, 0, 0.1);
}

*, *::before, *::after {
  box-sizing: border-box;
}

.font-arial {
  font-family: "proxima-nova", Arial, sans-serif;
  text-transform: uppercase;
  font-weight: normal;
  color: #272727;
}

.info-card {
  background-color: #fff;
  width: 90%;
  margin: 1rem 1rem;
  border-radius: 0.5rem;
  border: solid 2px rgba(0, 0, 0, 0.1);
}

.info-card:hover {
  cursor: pointer;
  border: solid 2px var(--dark-night);
}

.info-card-header {
  background-color: var(--light-night);
  border-radius: 0.3rem 0.3rem 0 0;
  padding: 0.5rem 1rem;
  color: white;
  border-bottom: solid var(--dark-night);
}

.bg-pink {
  background-color: var(--dark-night);
}

.header {
  padding: 10px 16px;
  background: #f1f1f1;
  margin-bottom: 2px black;
  z-index: 1;
}

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%
}

.sticky+.content {
  padding-top: 75px;
}

.add-text-shadow {
  text-shadow: 0px 0.2rem 0px rgba(0, 0, 0, 0.2)
}

/* Buttons */

.btn-primary {
  color: #fff;
  background-color: var(--light-night);
  font-size: 1.2rem;
  font-family: Roboto;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.02rem;
  border-radius: 0.3rem;
  border-width: 2px;
  height: fit-content;
  overflow: hidden;
  transition: 200ms linear;
  cursor: pointer;
  outline: 0;
  -webkit-transition: width 0.2s;
  /* Safari prior 6.1 */
  transition: width 0.2s;
}

.btn-primary:hover {
  color: #fff;
  background-color: var(--dark-night);
}

.btn-primary:focus {
  outline: solid 3px var(--hajkbanansgul)
}

.btn-primary.disabled, .btn-primary:disabled {
  color: #fff;
  background-color: var(--morning-shade);
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show>.btn-primary.dropdown-toggle {
  color: #fff;
  background-color: var(--morning-shade);
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus, .show>.btn-primary.dropdown-toggle:focus {
  background-color: #004450;
}

.btn-link {
  font-weight: normal;
  font-family: var(--font-family-sans-serif);
  color: var(--light-night);
  background: none;
  border: 0px;
  font-size: 1.1rem;
  text-decoration: underline;
  cursor: pointer;
}

.btn-link:hover {
  color: var(--dark-night);
  text-decoration: underline;
}

.btn-link:focus, .btn-link.focus {
  text-decoration: underline;
  box-shadow: none;
}

.btn-link:disabled, .btn-link.disabled {
  color: #6c757d;
  pointer-events: none;
}

.btn-back {
  color: #616161;
  background: none;
  border: none;
  align-items: center;
}

.btn-back:hover {
  color: #272727;
}

.btn-delete {
  color: black;
  background: none;
  border: 0px;
  cursor: pointer;
  padding: 0px;
  align-items: center;
  align-self: center;
}

.btn-delete:hover {
  transition: ease 0.3s;
  color: white;
  background-color: var(--light-night);
}

.btn-delete:active {
  color: white;
  background-color: var(--light-night);
}

/* Spinner */

.loader {
  border: 16px solid #f3f3f3;
  /* Light grey */
  border-top: 16px solid var(--dark-night);
  /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

.loaderSmall {
  border: 5px solid var(--dark-pink);
  border-radius: 50%;
  border-top: 5px solid #f3f3f3;
  width: 20px;
  height: 20px;
  -webkit-animation: spin 2s linear infinite;
  /* Safari */
  animation: spin 2s linear infinite;
  animation-timing-function: ease-in-out;
}

/* Safari */

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(200deg);
  }
  100% {
    transform: rotate(360deg);
  }
}